<nb-card size="medium">

  <nb-card-header>
    <span>{{ headerName }}</span>
    <nb-select [selected]="type" (selectedChange)="getUserActivity($event); type = $event">
      <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
    </nb-select>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item *ngFor="let item of userActivity">

      <div class="visited-date">
        {{ item.date }}
      </div>

      <div class="visited-pages-count">
        <div class="caption">Average</div>
        <div class="value">{{ item.pagesVisitCount }}</div>
      </div>

      <div class="visited-pages-count">
        <div class="caption">Min</div>
        <div class="value">{{ item.pagesVisitCount }}</div>
      </div>

      <div class="visited-pages-count">
        <div class="caption">Max</div>
        <div class="value">{{ item.pagesVisitCount }}</div>
      </div>


    </nb-list-item>
  </nb-list>

</nb-card>
