

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">ITRW324 - The Weather Station Project</h1>
        <p class="lead">Our solution to shitty weather forecasts.</p>
      </div>
    </div>
  </div>
</header>

<div class="my-card">
  <section class="py-5">
    <div class="container">
      <h2 class="font-weight-light">The Team: Anchormen v0.8</h2>

      <ul style="list-style-type:none">
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/coenraadhuman">Coenraad Human</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/EonViljoen28807995">Eon Viljoen</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/MorneVenter">Morne Venter</a></h2>
        </li>
      </ul>
    </div>
  </section>
</div>







<router-outlet></router-outlet>
