<nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isMainLoaded" style="z-index: 0;">
  <nb-card-body>
    Loading content.
  </nb-card-body>
</nb-card>

<div *ngIf="isMainLoaded">
  <div class="row" >
    <div class="col-xxl-12">
      <nb-card>
        <nb-card-header>Raw Readings</nb-card-header>
        <nb-card-body style="padding-bottom: 6px">
          <div style="margin-bottom: 10px">
            Time Zone Detected: {{ timezone }}
          </div>
          <div class="test">
            <span style="margin-right: 10px">Select Station :</span>
            <nb-select style="margin-right: 10px" [selected]="station" (selectedChange)="station = $event">
              <nb-option *ngFor="let s of stations" [value]="s">{{ s }}</nb-option>
            </nb-select>
          </div>
          <div class="test">
            <span style="margin-right: 10px">Select Time Period :</span>
            <nb-select style="margin-right: 10px" [selected]="time" (selectedChange)="time = $event">
              <nb-option *ngFor="let t of times" [value]="t">{{ t }}</nb-option>
            </nb-select>
          </div>
          <button nbButton shape="round" size="small" status="danger" outline style="float: right" (click)="getStationRawReadings(station, time)">Get Data</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isContentLoaded" style="z-index: 0;">
    <nb-card-body>
      {{ loaderContentTag }}
    </nb-card-body>
  </nb-card>

  <nb-card *ngIf="isContentLoaded">
    <nb-card-header>
      {{ tablename }}
    </nb-card-header>

    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>

