<app-header></app-header>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <div class="">
          <div class="my-card1 fadeInDown">
            <div class="fadeIn first">
              <section class="py-5">
                <div class="container">
                  <h2 class="font-weight-light lead" >Meet the Team: Anchormen v0.8</h2>
                  <hr>

                  <h2><a target="_blank" rel="noopener" href="https://github.com/coenraadhuman" class="btn btn-outline-primary btn-lg btn-block">Coenraad Human</a></h2>

                  <h2><a target="_blank" rel="noopener" href="https://github.com/EonViljoen28807995" class="btn btn-outline-success btn-lg btn-block">Eon Viljoen</a></h2>

                  <h2><a target="_blank" rel="noopener" href="https://github.com/MorneVenter" class="btn btn-outline-danger btn-lg btn-block">Morne Venter</a></h2>

                </div>
              </section>
            </div>
          </div>

        </div>
        </div>
      </div>
    </div>

</header>



