<nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isLoaded">
  <nb-card-body>
    Loading content.
  </nb-card-body>
</nb-card>

<nb-card *ngIf="isLoaded">
  <nb-card-header>{{ cardHeader }}</nb-card-header>
  <nb-card-body>
    <input type="text" nbInput fullWidth placeholder="Display Name">
    <input type="text" nbInput fullWidth disabled placeholder="Email Address">
    <input type="text" nbInput fullWidth disabled placeholder="User UID">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" outline>Update Profile Details</button>
  </nb-card-footer>
</nb-card>
