<nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isMainLoaded">
  <nb-card-body>
    Loading content.
  </nb-card-body>
</nb-card>

<div *ngIf="isMainLoaded">
  <div class="row" >
    <div class="col-xxl-12">
      <nb-card>
        <nb-card-header>Location Overview</nb-card-header>
        <nb-card-body style="padding-bottom: 6px">
          <div style="margin-bottom: 10px">
            Time Zone Detected: {{ timezone }}
          </div>

          <div class="test">
            <span style="margin-right: 10px">Selected Province :</span>
            <nb-select style="margin-right: 10px" [selected]="stationid" (selectedChange)="stationid = $event">
              <nb-option *ngFor="let s of provinces" [value]="s">{{ s }}</nb-option>
            </nb-select>
          </div>

          <div class="test">
            <span style="margin-right: 10px">Select Time Period :</span>
            <nb-select style="margin-right: 10px" [selected]="time" (selectedChange)="time = $event">
              <nb-option *ngFor="let t of times" [value]="t">{{ t }}</nb-option>
            </nb-select>
          </div>
          <button nbButton shape="round" size="small" status="danger" outline style="float: right" (click)="getGraphJson(time)">Get Data</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isContentLoaded">
    <nb-card-body>
      {{ loaderContentTag }}
    </nb-card-body>
  </nb-card>

  <div *ngIf="isContentLoaded">
    <!--AIR PRESSURE FOR A LOCATION-->
    <div class="row">
      <div class="col-xxl-4">
        <ngx-sensor-location-details [headerName]="'Air Pressure Details: Pa'" [data]="pressSide"></ngx-sensor-location-details>
      </div>
      <div class="col-xxl-8">
        <nb-card size="medium">
          <nb-card-header>Air Pressure Chart: Pa</nb-card-header>
          <nb-card-body>
            <ngx-chartjs-multiple-xaxis [data]="airgraphdata" [options]="graphoptions"></ngx-chartjs-multiple-xaxis>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!--HUMIDITY FOR A LOCATION-->
    <div class="row">
      <div class="col-xxl-4">
        <ngx-sensor-location-details [headerName]="'Humidity Details: %'" [data]="humSide"></ngx-sensor-location-details>
      </div>
      <div class="col-xxl-8">
        <nb-card size="medium">
          <nb-card-header>Humidity Chart: %</nb-card-header>
          <nb-card-body>
            <ngx-chartjs-multiple-xaxis [data]="humgraphdata" [options]="graphoptions"></ngx-chartjs-multiple-xaxis>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!--LIGHT READING FOR A LOCATION-->
    <div class="row">
      <div class="col-xxl-4">
        <ngx-sensor-location-details [headerName]="'Light Reading Details: %'" [data]="lightSide"></ngx-sensor-location-details>
      </div>
      <div class="col-xxl-8">
        <nb-card size="medium">
          <nb-card-header>Light Reading Chart: %</nb-card-header>
          <nb-card-body>
            <ngx-chartjs-multiple-xaxis [data]="lightgraphdata" [options]="graphoptions"></ngx-chartjs-multiple-xaxis>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <!--TEMPERATURE FOR A LOCATION-->
    <div class="row">
      <div class="col-xxl-4">
        <ngx-sensor-location-details [headerName]="'Temperature Details: °C'" [data]="tempSide"></ngx-sensor-location-details>
      </div>
      <div class="col-xxl-8">
        <nb-card size="medium">
          <nb-card-header>Temperature Chart: °C</nb-card-header>
          <nb-card-body>
            <ngx-chartjs-multiple-xaxis [data]="tempgraphdata" [options]="graphoptions"></ngx-chartjs-multiple-xaxis>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>
