<nb-card [nbSpinner]="true" nbSpinnerStatus="danger" *ngIf="!isMainLoaded" style="z-index: 0;">
  <nb-card-body>
    Loading content.
  </nb-card-body>
</nb-card>

<div *ngIf="isMainLoaded">
  <div class="row" >
    <div class="col-xxl-12">
      <nb-card>
        <nb-card-header>Register New Station</nb-card-header>
      </nb-card>
    </div>
  </div>
  <div class="row" >
    <div *ngFor="let station of userOwnedStations">
      <ngx-updatestations [myStation]="station" (refresh)="refreshMyData($event)"></ngx-updatestations>
    </div>
  </div>
</div>
