<nb-card>
  <nb-card-header>
    Github Repositories
  </nb-card-header>
 </nb-card>

<div class="row">

  <div class="col-sm">
    <nb-card  status="info" class="">
      <nb-card-header>
        Station Units Repositories
      </nb-card-header>
      <nb-card-body>
        Something something
      </nb-card-body>
      <nb-card-footer>
        <a style="float: right" href="https://github.com/coenraadhuman/WeatherStation_Unit">Go to Repository</a>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="success" class="cards">
      <nb-card-header>
        Station Frontend Repositories
      </nb-card-header>
      <nb-card-body>
        Something something
      </nb-card-body>
      <nb-card-footer>
        <a style="float: right" href="https://github.com/coenraadhuman/WeatherStation_Angular">Go to Repository</a>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-sm">
    <nb-card status="warning" class="cards">
      <nb-card-header>
        Station Backend Repositories
      </nb-card-header>
      <nb-card-body>
        Something something
      </nb-card-body>
      <nb-card-footer>
        <a style="float: right" href="https://github.com/coenraadhuman/WeatherStation_API">Go to Repository</a>
      </nb-card-footer>
    </nb-card>
  </div>

</div>
