<nb-card>
  <nb-card-header>
    Github Repositories
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-6 col-sm-4">
        <nb-card  status="primary">
          <nb-card-header>
            Station Units
          </nb-card-header>
            <nb-card-body>
              Something something
            </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6 col-sm-4">
        <nb-card>
          <nb-card-header>
            Station Ang
          </nb-card-header>
            <nb-card-body>
              Something something
            </nb-card-body>
        </nb-card>
      </div>
      <div class="col-6 col-sm-4">
        <nb-card>
          <nb-card-header>
            Station API
          </nb-card-header>
            <nb-card-body>
              Something something
            </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
</nb-card>
