<div *ngIf="isLoaded">
  <nb-card>
    <nb-card-body>

      <div *ngIf="isSelectable">
      <nb-checkbox [checked]="checkForFav()" status="success" (checkedChange)="toggle($event)">
        <div *ngIf="checkForFav(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>Added</ng-template>
        <ng-template #elseBlock>Add to favourites</ng-template>
      </nb-checkbox>
      </div>

      <span class="h3 location">{{getStationName()}}</span>
      <span class="date">{{getToday() | date}}</span>


      <div class="today">
        <span class="today-temperature h1">
          {{getAvgTemp()}}&deg;
        </span>
        <div *ngIf="isDayTime(); then thenBlock1 else elseBlock1"></div>
        <ng-template #thenBlock1><nb-icon icon="sun-outline" pack="eva" class="today-icon"></nb-icon></ng-template>
        <ng-template #elseBlock1><nb-icon icon="moon-outline" pack="eva" class="today-icon"></nb-icon></ng-template>
      </div>


      <div class="today-details row">
        <div class="parameter">
          <span class="caption parameter-name">min</span>
          <span class="parameter-value">{{getMinTemp()}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="caption parameter-name">max</span>
          <span class="parameter-value">{{getMaxTemp()}}&deg;</span>
        </div>
        <div class="parameter">
          <span class="caption parameter-name">Humidity</span>
          <span class="parameter-value">{{getAvgHumid()}}%</span>
        </div>
        <div class="parameter">
          <span class="caption parameter-name">Light</span>
          <span class="parameter-value">{{getLight()}}%</span>
        </div>
      </div>
      <br>
      <div class="weekly-forecast">
        <div class="day">
          <span class="caption">{{getDayFromNow(1)}}</span>
          <i class="weather-icon ion-ios-sunny-outline"></i>
          <span class="temperature">{{getForecast1()}} &deg;</span>
        </div>
        <div class="day">
          <span class="caption">{{getDayFromNow(2)}}</span>
          <i class="weather-icon ion-ios-sunny-outline"></i>
          <span class="temperature">{{getForecast2()}} &deg;</span>
        </div>
        <div class="day">
          <span class="caption">{{getDayFromNow(3)}}</span>
          <i class="weather-icon ion-ios-sunny-outline"></i>
          <span class="temperature">{{getForecast3()}} &deg;</span>
        </div>
        <div class="day">
          <span class="caption">{{getDayFromNow(4)}}</span>
          <i class="weather-icon ion-ios-sunny-outline"></i>
          <span class="temperature">{{getForecast4()}} &deg;</span>
        </div>
      </div>




      <button nbButton shape="round" size="small" status="info" outline (click)="openStationDetail()" style="float: right">Details</button>


      <div *ngIf="isStationOnline(); then thenBlock2 else elseBlock2"></div>
      <ng-template #thenBlock2><span class="flair flair-no-press flair-online" title="Status" ><b>Online</b></span></ng-template>
      <ng-template #elseBlock2><span class="flair flair-no-press flair-offline" title="Status"><b>Offline</b></span></ng-template>

    </nb-card-body>
  </nb-card>

</div>
