<div class='row'>
  <div class='col-md-12'>
    <nb-card status="primary">
      <nb-card-header>
        Welcome to Anchormen Stations
      </nb-card-header>
    </nb-card>
  </div>
</div>
<div class='row'>
  <div class='col-xxxl-9 col-xxl-9 col-lg-12 col-md-12'>
    <nb-card>
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='umbrella-outline' style='font-size: 3rem;' status="primary"></nb-icon>
          <p style="margin: 0px;">
            Our Mission
          </p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div align="justify">
          <p>
            We, the Anchormen team, have identified a problem with weather services available today.
            The problem being that they prove to be not detailed enough for weather enthusiasts interest,
            nor provide flexibility for development or catering for the beginner DIY community. We like to
            resolve this problem at hand by providing a platform that will cater for these needs.
          </p>
          <p style="margin: 0px">
            Thus, Anchormen Stations is a open-source, community driven project for creating your own cheap weather station
            units, using our free tools developed and guides. This allows users to view station readings from
            their favourite stations, being their own or other users.
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class='col-xxxl-3 col-xxl-3 col-lg-12 col-md-12 text-center align-self-center' style="margin-bottom: 30px">
    <nb-icon class='rotater' icon='sun-outline' style='font-size: 15rem;' status='warning'></nb-icon>
  </div>
</div>
<div class='row'>
  <div class='col-xxxl-6 col-xxl-6 col-lg-12 col-md-12'>
    <nb-card>
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='book-outline' style='font-size: 3rem;' status="danger"></nb-icon>
          <p style="margin: 0px;">
            Build Your Station
          </p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div align="justify">
          <p style="margin: 0px">
            Located on our website sidebar, <q>Build Station Guide</q>, is the section containing a
            comprehensive check-list of the hardware and software needed to create your own weather
            station unit, as well as a detailed guide on how to construct assemble it.
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class='col-xxxl-6 col-xxl-6 col-lg-12 col-md-12'>
    <nb-card>
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='cloud-upload-outline' style='font-size: 3rem;' status="success"></nb-icon>
          <p style="margin: 0px;">Register Your Station</p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div align="justify">
          <p style="margin: 0px">
            With constructed weather station units, users are able to register them on our system,
            found on our website sidebar <q>Register Your Station</q>, in turn becoming part
            of our weather enthusiast community, receiving readings from your own and others registered stations.
          </p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

