<div class='row'>
  <div class='col-md-12'>
    <nb-card status="info">
      <nb-card-header>
        Welcome to Anchormenstations
      </nb-card-header>
    </nb-card>
  </div>
</div>
<br>
<br>
<div class='row'>
  <div class='col-xxxl-9 col-xxl-8 col-lg-7 col-md-6'>
    <nb-card style=''>
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='umbrella-outline' style='font-size: 3rem;' status="primary"></nb-icon>
          <p>
            Our Mission:
          </p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <br>
        <div class='text-center'>
          <p>
            We, the Anchormen team, have identified a problem with weather services available today, the problem
            being that they prove to be not detailed enough for weather enthuasiasts interested. Due
            to weather stations being expensive, we have developed our own solution.
          </p>
          <br>
          <p>Anchormentstations is a open-source, community driven project for creating your own cheap weather station
            units, using our free tools developed for our users. This allows users to view station readings from
            their favourite stations, being their own or other users.</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class='col-xxxl-3 col-xxl-4 col-lg-5 col-md-6"'>
    <br>
    <br>
    <nb-icon icon='sun-outline' style='font-size: 3rem; width: 100%;height: 50%' status="warning"></nb-icon>
  </div>
</div>
<div class='row'>
  <div class='col-md-6'>
    <nb-card class="set_size">
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='book-outline' style='font-size: 3rem;' status="danger"></nb-icon>
          <p>
            Build Your Station
          </p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class='text-center'>
          <p>Located on our website sidebar, <q>Build Station Guide</q> is a tab leading to our
            comprehensive check-list of the hardware and software needed to create your own weather
            station unit, as well as a detailed guide on how to construct assemble it</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <br>
  <div class='col-md-6'>
    <nb-card class="set_size">
      <nb-card-header>
        <div class='text-center'>
          <nb-icon icon='cloud-upload-outline' style='font-size: 3rem;' status="success"></nb-icon>
          <p>Register Your Station</p>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class='text-center'>
          <p>With constructed weather station units, users are able to register them on our system,
            found on our website sidebar <q>Register Your Station</q>, in turn becoming part
            of our weather community, receiving readings from your registered station.
            Each user is able to register their own handcrafted weather station onto our website,
            becoming part of the community and receiving station readings from their unit.</p>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <br>
</div>

