@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card.set_size {
    height: 250px;
  }
  nb-icon.rotater {
      animation: rotation 10s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
